<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body background="cdbackground.jpg">
  <img class ="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/DC_Comics_logo.svg/2000px-DC_Comics_logo.svg.png">
  <% include ../partials/IntroButton.ejs %>

  <footer>
    Copyrighted by Milk
  </footer>
</body>

<style>
  body {
    background-size: cover;
    height: 100vh;
  }
  .logo {
    height: 10%;
    position:relative;
    top: 300px;
    left: 675px;
  }
  footer {
    color: white;
    position: absolute;
    margin: auto;
    top: 800px;
  }
</style>
</html>
